<!DOCTYPE html>
<html lang="en">
<head th:replace="template.html :: head('Thêm nhà tuyển dụng')">

</head>
<body>

<header th:replace="template.html :: header"></header>

<form action="#" th:action="@{/employers/add}" th:object="${employerRequest}" method="post">
    <input type="text" placeholder="Tên công ty" th:field="*{companyName}" required> <br><br>

    <label for="location">Chọn địa chỉ công ty</label> <br>
    <span th:each="location:${locations}">
        <input type="radio" name="location"
               th:value="${location}"
               th:checked="${employerRequest.location.value==location.value}">
        <label for="location" th:text="${location.value}"></label> <br>
    </span>

    <input type="text" placeholder="Email công ty" th:field="*{email}" required> <br>

    <a href="/employers"> <button type="submit">Submit form</button></a>







</form>


</body>
</html>