<!DOCTYPE html>
<html lang="en">
<head th:replace="template.html :: head('Employers')">

</head>
<body>

<header th:replace="template.html :: header"></header>

<h2 class="list-title">Danh sách nhà tuyển dụng</h2>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Công ty</th>
    <th scope="col">Địa chỉ</th>
    <th scope="col">Email</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="employer, iState:${employers}">
    <td th:text="${iState.index}+1"></td>
    <td th:text="${employer.value.companyName}"></td>
    <td th:text="${employer.value.location.getValue()}"></td>
    <td th:text="${employer.value.email}"></td>
  </tr>
  </tbody>
</table>

<a href="/employers/add"><button th:replace="template.html :: add-btn"></button></a>


</body>
</html>