<!DOCTYPE html>
<html lang="en">
<head th:replace="template.html :: head('Trang chủ')">

</head>
<body>
<header th:replace="template.html :: header"></header>

<h2>Nhà tuyển dụng</h2>
<div>
    <a href="/employers/add">Thêm nhà tuyển dụng</a>
</div>

<div>
    <a href="/employers">Danh sách nhà tuyển dụng</a>
</div>
<br>
<h2>Việc làm</h2>
<div>
    <a href="/jobs/add">Tạo việc làm</a>
</div>

<div>
    <a href="/jobs">Danh sách việc làm</a>
</div>
<br>

<h2>Ứng viên</h2>
<div>
    <a href="/applicants/add">Thêm ứng viên</a>
</div>
<div>
    <a href="/applicants">Danh sách ứng viên</a>
</div>


</body>
</html>