<!DOCTYPE html>
<html lang="en">
<head th:replace="template.html :: head('Trang chủ')">
<body>
<header>
  <div class="wide">
    <div class="header-content">
      <div class="header-nav">
        <a href="/"> <p th:text="#{home}"></p></a>
        <a href="/jobs"> <p th:text="#{jobs}"></p></a>
        <a href="/employers"> <p th:text="#{companies}"></p></a>
      </div>

      <div class="header-content-right">
        <div class="search">
          <form action="" th:action="@{/employers}" method="get">
            <input type="text" placeholder="keyword" name="keyword"/>
            <button type="submit"><i class="bi bi-search"></i></button>
          </form>
        </div>
        <div class="language">
          <img src="/img/vi_flag.png" alt="" onclick="window.location.href='employers?lang=vn'">
          <img src="/img/us_flag.png" alt="" onclick="window.location.href='employers?lang=en'">
        </div>

      </div>

    </div>
  </div>
</header>
<div class="employers">
  <div class="select-form">
    <div class="wide">
      <form action="" th:action="@{/employers}" method="get">
        <label for="c-type" th:text="#{companyType}">Loại hình</label>
        <select name="type" id="c-type">
          <option value="0">Tất cả</option>
          <option th:each="type : ${companyTypes}"
                  th:text="${type.type}"
                  th:value="${type.name}">Outsourcing</option>
        </select>
        <label for="c-location" th:text="#{location}">Nơi làm việc</label>
        <select name="location" id="c-location">
          <option value="0">Tất cả</option>
          <option th:each="location: ${locations}"
                  th:text="${location.address}"
                  th:value="${location.name}">Hà Nội</option>
<!--          <option value="hanoi">Hà Nội</option>-->
<!--          <option value="hochiminh">Hồ Chí Minh</option>-->
        </select>
<!--        <a href="@{/employers(company-type=${request.type}&company-location=${request.location})"></a>-->
        <button type="submit"><i class="bi bi-funnel"></i></button>

      </form>
    </div>
  </div>

  <div class="container">
    <div class="wide">
      <div class="add-btn"><a href="/employers/add">Thêm công ty</a></div>
      <table>
        <thead>
        <tr>
          <th th:text="#{no}">STT</th>
          <th th:text="#{logo}">Logo</th>
          <th th:text="#{companyName}">Tên công ty</th>
          <th th:text="#{companyType}">Loại</th>
          <th th:text="#{location}">Địa chỉ</th>
          <th>Email</th>
          <th th:text="#{other}">Khác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employer, iState : ${employers}">
          <td th:text="${iState.index}+1" class="number">1</td>
          <td class="logo"><div><img th:src="${employer.logoPath}" alt=""></div></td>
          <td th:text="${employer.companyName}" class="company-name">FPT software</td>
          <td th:text="${employer.companyType.type}" class="company-type">Product</td>
          <td th:text="${employer.locations.toString()}" class="company-location">Hà Nội, Hồ Chí Minh</td>
          <td th:text="${employer.email}" class="company-email">fpt@gmail.com</td>
          <td class="other">
            <a th:href="@{/employers/edit/{id}(id=${employer.id})}" class="edit-btn"><i class="bi bi-pencil-square"></i></a>
            <a th:href="@{/employers/delete/{id}(id=${employer.id})}" class="delete-btn"><i class="bi bi-trash"></i></a>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
