<!DOCTYPE html>
<html lang="en">
<head th:replace="template.html :: head('Trang chủ')">

</head>
<body>
    <div class="index-container">


        <div class="index-direction">
            <a href="/jobs" class="job-direct-btn">Danh sách việc làm</a>
            <a href="/employers" class="company-direct-btn">Danh sách công ty</a>
        </div>

        <div class="index-heading">
            <h6>Chào mừng bạn đến với ITviec</h6>
            <h1>Hệ thống kết nối giữa nhà tuyển dụng và ứng viên IT </h1>
           
        </div>

    </div>
    
</body>
</html>